@model IEnumerable<ImobiliariaEntities.Imovel>;

@{

    ViewData["Title"] = "Lista de Imovéis";

}

<a class="btn btn-dark"
    asp-controller="Imovel"
    asp-action="AddImovel">
    Adiciona Imovél
</a>

<a class="btn btn-dark"
    asp-controller="Imovel"
    asp-action="AlteraImovel">
    Altera Imovel
</a>

<a class="btn btn-dark"
    asp-controller="Imovel"
    asp-action="DeletaImovel">
    Deleta Imóvel
</a>    

<table class="table table-stripped table-bordered table-hover">
    <legend>Lista de Imovéis</legend>
    <thead>
        <th>ID</th>
        <th>Agência</th>
        <th>Dono</th>
        <th>Endereço</th>
        <th>Preço</th>
    </thead>
    <tbody>
        @foreach (var imovel in Model)
        {
            <tr>
                <td>@imovel.id</td>
                <td>@imovel.idAgencia</td>
                <td>@imovel.idDono</td>
                <td>@imovel.endereco</td>
                <td>@imovel.preco</td>              
            </tr>
        }
    </tbody>
</table>
