@model IEnumerable<ImobiliariaEntities.Corretor>;

@{

    ViewData["Title"] = "Lista de Corretores";

}

<a class="btn btn-dark"
    asp-controller="Corretor"
    asp-action="AddCorretor">
    Adicionar Corretor
</a>

<a class="btn btn-dark"
    asp-controller="Corretor"
    asp-action="AlteraCorretor">
    Altera Corretor
</a>

<a class="btn btn-dark"
    asp-controller="Corretor"
    asp-action="DeletaCorretor">
    Deleta Corretor
</a>

<table class="table table-stripped table-bordered table-hover">
    <legend>Lista de Corretores</legend>
    <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Agências</th>
        <th>Vendas</th>
    </thead>
    <tbody>
        @foreach (var corretor in Model)
        {
            <tr>
                <td>@corretor.id</td>
                <td>@corretor.nome</td>
                <td>@corretor.idade</td>
                <td>@corretor.idAgencia</td>
                <td>@corretor.vendas</td>              
            </tr>
        }
    </tbody>
</table>
